.welcome-jumbo {
    max-width: calc(100vw - 350px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d64442+0,b74040+100 */
    background: #d64442; /* Old browsers */
    background: -moz-radial-gradient(
        center,
        ellipse cover,
        #d64442 0%,
        #b74040 100%
    ); /* FF3.6-15 */
    background: -webkit-radial-gradient(
        center,
        ellipse cover,
        #d64442 0%,
        #b74040 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(
        ellipse at center,
        #d64442 0%,
        #b74040 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d64442', endColorstr='#b74040',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    overflow: hidden;
    padding: 100px;

    .status {
        display: inline-block;
        padding: 10px 20px;
        font-size: 0.8rem;
        font-weight: 700;
        color: #fff;
        background: #000;
        border-radius: 5px;
        align-self: flex-start;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 4rem;
        font-weight: 900;
        align-self: flex-start;
        color: #fff;
        margin-bottom: 100px;
    }

    .burger-fries {
        width: 100%;
        // max-width: 1000px;
        // animation: moveUpAndDown 2s linear infinite;
        position: relative;
    }

    // @keyframes moveUpAndDown {
    //     0%, 100% {
    //         bottom: 0;
    //     }
    //     50% {
    //         bottom: 30px;
    //     }

    // }
}
